td, th {
	border: 1px solid;
  }
  
#body {
  background: src="images/space_picture" alt:space;
}

#table {
  position: relative;
  left: 30px;
  width: 90%;
  height: 70%;
}
 
.title {
  font-family: "Outfit", sans-serif;
  font-size: 3em;
  font-weight: 600;
  position: relative;
  left: 20px;
}
 
.name {
  font-family: "Outfit", sans-serif;
  font-size: 2em;
  font-weight: 600;
}
	  

.outfit {
  font-family: "Outfit", sans-serif;
  font-size: 1.5em;
  font-weight: 450;
  font-style: normal;
}